@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@300&display=swap');

html {
    font-family: 'Roboto Mono', monospace;
    margin: 0;
    padding: 0;
    background: url("./assets/background.png"), linear-gradient(90deg, rgba(99,137,207,1) 0%, rgba(155,89,155,1) 100%);;
	background-repeat: no-repeat, repeat;
	background-position: top, center;
	background-size: 100vw, 100%;
}

ul {
    list-style-type: none;
    padding: 0;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

h1 {
    text-align: center;
    color: white;
    font-weight: lighter;
    top: 0px;
	font-size: 3vh
}

.logo {
    width: 33vh;
    height: 33vh;
	max-height: 80vw;
	max-width: 80vw;
    /* max-height: 40px; */
    overflow: hidden;
}

@media screen and (max-height: 500px) {
	.title {
		visibility: hidden;
	}
	.logo {
		height: 45vh; /* I removed the stage at 450px as it's only use was making the logo 60vh to 70vh and made these 70vh instead*/
		width: 45vh;
		max-height: 80vw; /* You might want to change these to 70vw, I made them 80vh so they are in line with the defualts */
		max-width: 80vw;
	}
}

@media screen and (max-width: 450px) {
    .title {
        font-size: 5vw;
	}
	.smpstatus {
		position: absolute; 
		top: 62vh;
		left: 10vw;
	}
	.creativestatus {
		position: absolute; 
		top: 62vh;
		padding-top: 100px;
		left: 10vw;
	}
}

@media screen and (min-width: 450px) {
	.smpstatus {
		position: relative; 
		top: 25vh;
	}
	.creativestatus {
		position: relative; 
		top: 26vh;
	}
}

@media screen and (max-height: 150px) {
}	

@media screen and (min-width: 1920px) {
	.title {
		font-size: 3vh
	}
}

.logo { 
	transition: transform 620ms ease-in-out;
}

.logo:hover {
	transform:scale(1.05);
	animation-duration: 620ms;
     
}

.icons-bar {
	display: flex;
    margin: 0;
	justify-content: center;
    position: absolute;
    top: 40vh;
    left: 50%;
	margin-bottom: 0px;
    transform: translate(-50%, 100%) 
}

.smpstatus {
	display: flex;
	margin: 0;
	justify-content: center;
}

.creativestatus {
	display: flex;
	margin: 0;
	justify-content: center;
}

li img {
    width: 10vh;
    height: 10vh;
	max-height: 20vw;
	max-width: 20vw;
    scale: 100%;
    color: white;
    fill: currentColor;
    padding-right: 10px;
    padding-left: 10px;
    transition: transform 350ms ease-in-out;
}

li img:hover {
    transform: scale(1.1);
}

.tooltip {
    position: relative;
    display: inline-block;
}
  
.tooltip span {
	font-size: 1.7vh;
    opacity: 0;
    transition: opacity 250ms ease-in-out;
    /* width: 120px; */
    background-color: white;
    color: #000;
    text-align: center;
    border-radius: 1.1vh;
    padding: 1vh 0;
  
    /* Position the tooltip */
    position: absolute;
	width: 7vh;
    padding-right: 1vh;
    padding-left: 1vh;
    bottom: 120%;
    left: 50%;
    margin-left: -4.5vh; /* Use half of the width (120/2 = 60), to center the tooltip */ /*You forgot to factor in the padding on the left and right so the margin was off by -10px, now using vh instead for scalablity*/
}


.tooltip:hover span {
    opacity: 100%;
}